Repository SartajBhuvaji/Resonate, pull requests merged in 2024-01, with the labels that each got.

#3 Added Research Folder
  Research/Drawing Boards/README.md
  Research/Drawing Boards/drawingboard_1.excalidraw
  Research/Research Papers/A Framework for Abstractive Summarization of Conversational Meetings.pdf
  Research/Research Papers/Attention is all you need.pdf
  Research/Research Papers/Benchmarking Large Language Models in Retrieval-Augmented Generation.pdf
  Research/Research Papers/LoRA- Low-Rank Adaptation of Large Language Models.pdf
  Research/Research Papers/QLoRA- Efficient Finetuning of Quantized LLMs.pdf
  Research/Research Papers/RAGAS-Automated Evaluation of Retrieval Augmented Generation.pdf
  Research/Research Papers/Retrieval-Augmented Generation for Knowledge-Intensive NLP Tasks.pdf
  Research/Research paper BibText.docx
Labels: documentation, sprint 1

#8 Pinecone-sentence-transformer
  .DS_Store
  Notebooks/pinecone_demo_trial_sentence-transformer.ipynb
  pinecone_demo_trial_sentence-transformer.ipynb
Labels: sprint 1, pinecone

#6 Added initial notebooks : Pinecone DB
  Notebooks/pinecone_demo_transcript.ipynb
  Notebooks/pinecone_trial_1.ipynb
  Notebooks/transcript.csv
  Research/Drawing Boards/idea board.excalidraw
  Research/Drawing Boards/meeting 1 - pinecone.png
  Research/Drawing Boards/meeting 1.excalidraw
Labels: sprint 1, pinecone

#9 Added: Notebooks/pinecone_demo_transcript_merged_conversation.ipynb
  Notebooks/pinecone_demo_transcript_merged_conversation.ipynb
  Research/Research Papers/Measuring and Narrowing the Compositionality Gap in Language Models.pdf
  Research/Research Papers/REACT - SYNERGIZING REASONING AND ACTING IN.pdf
  src/db/pinecone_db.py
Labels: minor, sprint 1, pinecone, research

#12 Speech 2 Transcript : speech diarisation and transcript code added
  Notebooks/mini_ami.wav
  Notebooks/speech_diarization_and_transcript.ipynb
  Notebooks/utils.py
Labels: sprint 1, parrot

#14 Speech to conversation added
  Notebooks/aws_notebook.ipynb
  Notebooks/speech_diarization_and_transcript.ipynb
  Notebooks/speech_transcript_EN2002a.csv
  Notebooks/speech_transcript_ES2010b.csv
  Notebooks/utils.py
  src/aws/aws.py
  src/aws/job.json
  src/aws/job.vtt
  src/aws/test.wav
Labels: enhancement, sprint 1, parrot, aws transcribe

#13 Added the AWS transcription processing notebook file
  Notebooks/AWS_transcript_processing.ipynb
  Notebooks/aws_notebook_version_2.ipynb
  Notebooks/job.csv
  Notebooks/job.json
  Notebooks/job.vtt
  Notebooks/meeting_transcribe_using_whisper.ipynb
  Notebooks/pinecone_transcript_with_detla_implementation.ipynb
  Notebooks/test.wav
  src/aws/aws_version_2.py
  src/aws/job.csv
Labels: sprint 1, research, aws transcribe

#17 Added Pinecone serverless
  Notebooks/pinecone_serverless.ipynb
Labels: enhancement, sprint 1, pinecone

#16 RAG with langChain and pinecone(SentenceTransformer)
  .DS_Store
  Notebooks/RAG_Langchain.ipynb
Labels: sprint 1, llm, rag, pinecone, research

#18 Added AWS transcript parser (Alternatative)
  Notebooks/aws_parsed_transcript.csv
  Notebooks/aws_transcript.csv
  Notebooks/parse_aws_transcript.ipynb
  Notebooks/speech_transcript_EN2002a.csv
  Research/Drawing Boards/Proposed UI.excalidraw
  src/aws/aws_transcribe_parser.py
  src/aws/aws_transcript.csv
Labels: enhancement, sprint 1, aws transcribe

#23 implemented video to audio convertor and added the firebase video upload feature
  Notebooks/aws_notebook_version_3.ipynb
  Notebooks/test.wav
  src/aws/aws_version_3.py
Labels: sprint 1, aws transcribe
